<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: #2b2a33;
            color: white;
            font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            margin: 10px;
        }

        a {
            color: rgb(16, 131, 254);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #iconheader {
            text-align: center;
            font-size: 128pt;
        }

        #issue-lists {
            display: none;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@^4"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
</head>

<body>
    <div id="iconheader">{% block iconheader %}{% endblock %}</div>
    <h2>{% block textheader %}{% endblock %}</h2>

    <div id="status-box">
        <p id="status-text"></p>
    </div>

    <div>
        <canvas id="aggregate"></canvas>
    </div>

    <div id="stats-box">
        <p id="stats-text"></p>
    </div>

    <div>
        <canvas id="histogram"></canvas>
    </div>

    <div id="issue-lists">
        <h2>{% block open_heading %}Open issues{% endblock %}</h2>
        <ul id="open-issues"></ul>

        <h2>{% block closed_heading %}Closed issues{% endblock %}</h2>
        <ul id="closed-issues"></ul>
    </div>

    <script>
        var vars = {};
    </script>
    {% block scriptvars %}{% endblock %}
    <script>
        const graphAgg = (aggregate) => new Chart(document.getElementById('aggregate'), {
            type: 'line',
            data: {
                labels: aggregate.map(row => row.date),
                datasets: vars.datasets(aggregate).map(dataset => {
                    dataset.fill = true;
                    dataset.pointStyle = false;
                    return dataset;
                })
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            // Format: https://moment.github.io/luxon/#/formatting?id=table-of-tokens
                            tooltipFormat: 'DD'
                        }
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

        const graphHist = (histogram) => new Chart(document.getElementById('histogram'), {
            type: 'bar',
            data: {
                labels: histogram.map(row => row.label),
                datasets: [
                    {
                        label: 'Count',
                        data: histogram.map(row => row.count)
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Months'
                        }
                    }
                }
            }
        });

        function buildList(list, issues) {
            list.replaceChildren();
            issues.forEach(issue => {
                let li = document.createElement('li');
                list.appendChild(li);
                let a = document.createElement('a');
                li.appendChild(a);
                a.target = "_blank";

                let created = Date.parse(issue.created_at);
                let end = issue.closed_at ? Date.parse(issue.closed_at) : Date.now();
                let age = end - created;
                let age_in_days = Math.round(age / (1000 * 3600 * 24));

                vars.renderIssue(issue, a, age_in_days);
            });
        }

        const statusText = document.getElementById('status-text');
        const statsText = document.getElementById('stats-text');

        statusText.textContent = vars.fetchingStatus;

        fetch(vars.dataUrl)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                return response.json();
            })
            .then((data) => {
                statusText.textContent = vars.loadedStatus(data);
                statsText.textContent = vars.loadedStats(data);
                graphAgg(data.agg);
                graphHist(data.completed_hist);
                buildList(document.getElementById('open-issues'), data.open);
                buildList(document.getElementById('closed-issues'), data.closed);
                document.getElementById('issue-lists').style.display = 'unset';
            })
            .catch((error) => {
                console.error(error);
                statusText.textContent = `Failed to load data: ${error}`;
            });
    </script>
</body>

</html>