{% extends "common/index.html" %}

{% block title %}{{group.name}} — RFC Observer{% endblock %}
{% block iconheader %}🌐🔍{% endblock %}
{% block textheader %}{{group.name}}{% endblock %}
{% block open_heading %}Open Internet-Drafts{% endblock %}
{% block open_table_cols %}<th>Revisions</th>{% endblock %}
{% block closed_heading %}Published RFCs{% endblock %}
{% block closed_table_cols %}<th>Drafts</th>{% endblock %}

{% block scriptvars %}
<script>
    vars.fetchingStatus = "Fetching documents...";
    vars.dataUrl = "/api/data/{{group.acronym}}";
    vars.loadedStatus = (data) => `There are ${data.closed.length} published RFCs, and ${data.open.length} open unexpired Internet-Drafts.`;
    vars.loadedStats = (data) => `The median time-to-complete over all time is ${data.completed_stats.median} months.`;
    vars.datasets = (aggregate) => [
        {
            label: 'Expired',
            data: aggregate.map(row => row.expired)
        },
        {
            label: 'Draft',
            data: aggregate.map(row => row.draft)
        },
        {
            label: 'Published',
            data: aggregate.map(row => row.published)
        }
    ];
    vars.renderIssue = (doc, a, tr) => {
        a.href = `https://datatracker.ietf.org/doc/${doc.name}/`;
        let td_revisions = document.createElement('td');
        tr.appendChild(td_revisions);
        if (doc.rfc) {
            // Count the first draft along with its revisions.
            td_revisions.innerHTML = `${doc.revisions.length + 1}`;
            a.innerHTML += `RFC ${doc.rfc}: `;
        } else {
            td_revisions.innerHTML = `${doc.revisions.length}`;
        }
        a.innerHTML += `${doc.title}`;
    };
</script>
{% endblock %}