<!DOCTYPE html>
<html lang="en">

<head>
    <title>RFC Observer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: #2b2a33;
            color: white;
            font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            margin: 10px;
        }

        a {
            color: rgb(16, 131, 254);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #iconheader {
            text-align: center;
            font-size: 128pt;
        }
    </style>
</head>

<body>
    <div id="iconheader">📑🔍</div>
    <h2>RFC Observer</h2>

    <ul>
        <li><a href="https://ietf.rfc.observer">IETF RFCs</a></li>
        <li><a href="https://go.rfc.observer">Go Proposals</a></li>
        <li><a href="https://rust.rfc.observer">Rust RFCs</a></li>
    </ul>
</body>

</html>