{% extends "common/index.html" %}

{% block title %}Rust RFC Observer{% endblock %}
{% block iconheader %}🦀🔍{% endblock %}
{% block textheader %}Rust RFCs{% endblock %}

{% block scriptvars %}
<script>
    vars.fetchingStatus = "Fetching RFCs...";
    vars.dataUrl = "/api/data";
    vars.loadedStatus = (data) => `There are ${data.open.length + data.closed.length} RFC tracking issues, of which ${data.open.length} are still open.`;
    vars.loadedStats = (data) => `The median time-to-complete over all time is ${data.completed_stats.median} months.`;
    vars.datasets = (aggregate) => [
        {
            label: 'Created',
            data: aggregate.map(row => row.created)
        },
        {
            label: 'Approved',
            data: aggregate.map(row => row.approved)
        },
        {
            label: 'Implemented',
            data: aggregate.map(row => row.implemented)
        },
        {
            label: 'Closed',
            data: aggregate.map(row => row.closed)
        }
    ];
    vars.renderIssue = (issue, a) => {
        a.href = `https://github.com/rust-lang/rust/issues/${issue.number}`;
        a.innerHTML += `(RFC ${issue.rfc}) ${issue.title}`;
    };
</script>
{% endblock %}