{% extends "common/index.html" %}

{% block title %}Rust RFC Observer{% endblock %}
{% block iconheader %}🦀🔍{% endblock %}
{% block textheader %}Rust RFCs{% endblock %}

{% block scriptvars %}
<script>
    vars.fetchingStatus = "Fetching RFCs...";
    vars.loadedStatus = (data) => `There are ${data.open.length + data.closed.length} RFC tracking issues, of which ${data.open.length} are still open.`;
    vars.datasets = (aggregate) => [
        {
            label: 'Created',
            data: aggregate.map(row => row.created)
        },
        {
            label: 'Approved',
            data: aggregate.map(row => row.approved)
        },
        {
            label: 'Implemented',
            data: aggregate.map(row => row.implemented)
        },
        {
            label: 'Closed',
            data: aggregate.map(row => row.closed)
        }
    ];
    vars.renderIssue = (issue, a) => {
        a.href = `https://github.com/rust-lang/rust/issues/${issue.number}`;
        if (!issue.closed_at) {
            let created = Date.parse(issue.created_at);
            let age = Date.now() - created;
            let age_in_days = Math.round(age / (1000 * 3600 * 24));
            a.innerHTML += `${age_in_days} days old: `;
        }
        a.innerHTML += `(RFC ${issue.rfc}) ${issue.title}`;
    };
</script>
{% endblock %}