{% extends "base.html" %}

{% block title %}Bluesky & ATProto FYI{% endblock %}

{% block content %}
<h1>🤔 Bluesky & ATProto FYI</h1>
<p>The <a href="https://bsky.app/">Bluesky app</a>, and the AT Protocol it is built on, are in development.
    Some things are in flux, and information can be hard to find!</p>
<p>Collected below are some resources that can help you figure out how things currently work, and how they may
    change in the future.</p>
<p>Maintained by <a href="https://bsky.app/profile/did:plc:bvdrfwiamgi5leqs63q2duro">@str4d.xyz</a>.</p>

<h2><a href="network">🌐 Network Map</a></h2>

<h2><a href="roadmap">🗺️ Unofficial roadmap</a></h2>

{% match rates %}
{% when Some with ((rates, interval)) %}
<h2>Firehose rates</h2>
<p>These are averages over the past {{ interval|fmtduration }}.</p>
<ul>
    <li>Total: {{ rates.ops_total|fmtf64 }} ops/min</li>
    <li>By record group:
        <ul>
            {% for group in rates.groups() %}
            {% if group.subgroups.is_empty() %}
            <li>
                {% if group.info.uri.is_empty() %}
                {{ group.info.title }}
                {% else %}
                <a href="{{ group.info.uri }}" target="_blank">{{ group.info.title }}</a>
                {% endif %}:
                {{ group.rate|fmtf64 }} ops/min
            </li>
            {% else %}
            <li>{{ group.info.title }}: {{ group.rate|fmtf64 }} ops/min. Used by:
                <ul>
                    {% for subgroup in group.subgroups %}
                    <li><a href="{{ subgroup.uri }}" target="_blank">{{ subgroup.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>
{% when None %}
{% endmatch %}

<h2>Explainers</h2>
<ul>
    <li><a href="https://write.as/lajpcs033np8qypv.md">"What Information is Public on Bluesky?"</a> by <a
            href="https://bsky.app/profile/did:plc:5rw2on4i56btlcajojaxwcat">@eepy.bsky.social</a></li>
    <li>An academic paper on the architecture: <a href="https://arxiv.org/pdf/2402.03239">Bluesky and the AT Protocol:
            Usable Decentralized Social Media</a> by <a
            href="https://bsky.app/profile/did:plc:vzmlifz3ghar4cu2hj3srga2">Martin Kleppmann</a> and the Bluesky team
    </li>
</ul>

<h2>Resources</h2>
<ul>
    <li><a href="https://blueskyweb.xyz/faq">Bluesky FAQ</a></li>
    <li><a href="https://docs.bsky.app/">Bluesky Developer APIs</a></li>
    <li><a href="https://github.com/notjuliet/awesome-bluesky">Awesome Bluesky</a> list, maintained by <a
            href="https://bsky.app/profile/did:plc:b3pn34agqqchkaf75v7h43dk">@adorable.mom</a></li>
    <li>AT Protocol:
        <ul>
            <li><a href="https://atproto.com/guides/faq">FAQ</a></li>
            <li><a href="https://atproto.com/community/projects">Community projects</a></li>
            <li><a href="https://atproto.com/docs">Documentation</a></li>
        </ul>
    </li>
</ul>
{% endblock %}