{% extends "base.html" %}

{% block title %}Bluesky & ATProto FYI{% endblock %}

{% block content %}
<h1>🤔 Bluesky & ATProto FYI</h1>
<p>The <a href="https://bsky.app/">Bluesky app</a>, and the AT Protocol it is built on, are currently in beta.
    Lots of things are in flux, and information can be hard to find!</p>
<p>Collected below are some resources that can help you figure out how things currently work, and how they may
    change in the future.</p>
<p>Maintained by <a href="https://bsky.app/profile/str4d.xyz">@str4d.xyz</a>.</p>

<h2><a href="roadmap">🗺️ Unofficial roadmap</a></h2>

<h2>Explainers</h2>
<ul>
    <li><a href="https://write.as/lajpcs033np8qypv.md">"What Information is Public on Bluesky?"</a> by <a
            href="https://bsky.app/profile/eepy.bsky.social">@eepy.bsky.social</a></li>
</ul>

<h2>Bluesky devs answering some common questions</h2>
<ul>
    <li><a href="https://bsky.app/profile/pfrazee.com/post/3k6e5zgyufc26">Are hashtags planned? (Yes)</a></li>
    <li><a href="https://bsky.app/profile/pfrazee.com/post/3k6cghc4tyq2e">Are DMs planned? (Yes)</a></li>
    <li><a href="https://bsky.app/profile/bnewbold.bsky.team/post/3jzkktewy4j2q">Why GIFs and videos are not on
            the roadmap for the near future.</a></li>
</ul>

<h2>Resources</h2>
<ul>
    <li><a href="https://blueskyweb.xyz/faq">Bluesky FAQ</a></li>
    <li>AT Protocol:
        <ul>
            <li><a href="https://atproto.com/guides/faq">FAQ</a></li>
            <li><a href="https://atproto.com/community/projects">Community projects</a></li>
            <li><a href="https://atproto.com/docs">Documentation</a></li>
        </ul>
    </li>
</ul>
{% endblock %}