{% extends "base.html" %}

{% block title %}Bluesky network map{% endblock %}

{% block head %}
<style>
    #content {
        position: fixed;
        inset: 0;
        display: flex;
        flex-flow: column;
    }

    #atproto-map {
        border: 1px solid lightgray;
        background: white;
        flex: 1 1 auto;
    }

    #clustersLayer {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .clusterLabel {
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        font-variant: small-caps;
        font-weight: 400;
        font-size: 1.8rem;
        text-shadow:
            2px 2px 1px white,
            -2px -2px 1px white,
            -2px 2px 1px white,
            2px -2px 1px white;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.26.0/graphology.umd.min.js"></script>
<script src="https://github.com/graphology/graphology/releases/download/0.26.0/graphology-library.min.js"></script>
{% endblock %}

{% block content %}
<div id="nav"><a href="/">🏠 Home</a></div>

<h1>Bluesky network map</h1>

<div id="status-box">
    <p id="status-text"></p>
</div>

<div id="atproto-map"></div>

<script type="text/javascript">
    const kinds = {
        BskyPds: "input",
        Pds: "input",
        Relay: "middle",
        Labeler: "middle",
        Feed: "output",
        AppView: "output",
    };
    const groups = {
        BskyPds: "PDSs",
        Pds: "PDSs",
        Relay: "Relays",
        Labeler: "Labelers",
        Feed: "Feeds",
        AppView: "AppViews",
    };
    const colours = {
        BskyPds: "#1185fe",
        Pds: "blue",
        Relay: "orange",
        Labeler: "red",
        Feed: "grey",
        AppView: "green",
    };

    function graphMap(map) {
        // Create a graphology graph
        const graph = new graphology.Graph();
        map.nodes.forEach((node, index) => {
            graph.addNode(index, {
                kind: kinds[node.group],
                group: groups[node.group],
                subgroup: node.subgroup,
                label: node.label,
                size: node.size,
                color: colours[node.group],
            });
        });
        map.edges.forEach((edge) => {
            graph.addEdge(edge.from, edge.to, {
                size: edge.size,
                color: edge.colour,
            });
        });

        // Initialise clusters from graph data
        const groupClusters = {};
        graph.forEachNode((_node, atts) => {
            if (!groupClusters[atts.group]) {
                groupClusters[atts.group] = {
                    label: atts.group,
                    color: atts.color,
                    positions: []
                };
            }
        });

        // Position the graph nodes
        graphologyLibrary.layout.circlepack.assign(graph, {
            hierarchyAttributes: ["kind", "group", "subgroup"],
        });

        // Calculate each cluster's nodes barycenter to use for the cluster's label position
        graph.forEachNode((node, atts) => {
            const cluster = groupClusters[atts.group];
            cluster.positions.push({ x: atts.x, y: atts.y });
        });
        for (const group in groupClusters) {
            const cluster = groupClusters[group];
            cluster.x = cluster.positions.reduce((acc, p) => acc + p.x, 0) / cluster.positions.length;
            cluster.y = cluster.positions.reduce((acc, p) => acc + p.y, 0) / cluster.positions.length;
        }

        // Instantiate sigma.js and render the graph
        const container = document.getElementById("atproto-map");
        const renderer = new Sigma(graph, container, {
            labelRenderedSizeThreshold: 1000000
        });

        // Create the clustersLabel layer
        const clustersLayer = document.createElement("div");
        clustersLayer.id = "clustersLayer";
        let clusterLabelsDoms = "";
        for (const group in groupClusters) {
            // fFor each cluster create a div label
            const cluster = groupClusters[group];
            // Adapt the position to viewport coordinates
            const viewportPos = renderer.graphToViewport(cluster);
            clusterLabelsDoms += `<div id='${cluster.label}' class="clusterLabel" style="top:${viewportPos.y}px;left:${viewportPos.x}px;color:${cluster.color}">${cluster.label}</div>`;
        }
        clustersLayer.innerHTML = clusterLabelsDoms;

        // Insert the layer underneath the hovers layer
        container.insertBefore(clustersLayer, container.querySelector(".sigma-hovers"));

        // Declare internal state:
        const state = {};

        function setHoveredNode(node) {
            if (node) {
                state.hoveredNode = node;
                state.hoveredNodeGroup = graph.getNodeAttribute(node, "group");
                state.hoveredNeighbors = new Set(graph.neighbors(node));
            }

            if (!node) {
                state.hoveredNode = undefined;
                state.hoveredNodeGroup = undefined;
                state.hoveredNeighbors = undefined;
            }

            // Refresh rendering
            renderer.refresh({
                // We don't touch the graph data so we can skip its reindexation
                skipIndexation: true,
            });
        }

        function toggleSelectedNode(node) {
            if (state.selectedNode !== node) {
                state.selectedNode = node;
                state.selectedNodeGroup = graph.getNodeAttribute(node, "group");
                state.selectedNeighbors = new Set(graph.neighbors(node));
            } else {
                state.selectedNode = undefined;
                state.selectedNodeGroup = undefined;
                state.selectedNeighbors = undefined;
            }

            // Refresh rendering
            renderer.refresh({
                // We don't touch the graph data so we can skip its reindexation
                skipIndexation: true,
            });
        }

        // Bind graph interactions:
        renderer.on("enterNode", ({ node }) => {
            setHoveredNode(node);
        });
        renderer.on("clickNode", ({ node }) => {
            toggleSelectedNode(node);
        });
        renderer.on("leaveNode", () => {
            setHoveredNode(undefined);
        });

        // Render nodes accordingly to the internal state:
        // 1. If there is a selected or hovered relay node, all non-neighbor nodes are greyed
        renderer.setSetting("nodeReducer", (node, data) => {
            const res = { ...data };

            if (state.selectedNodeGroup === "relay") {
                if (state.selectedNeighbors && !state.selectedNeighbors.has(node) && state.selectedNode !== node) {
                    res.color = "#f6f6f6";
                }
            } else if (state.hoveredNodeGroup === "relay") {
                if (state.hoveredNeighbors && !state.hoveredNeighbors.has(node) && state.hoveredNode !== node) {
                    res.color = "#f6f6f6";
                }
            }

            return res;
        });

        // Render edges accordingly to the internal state:
        // 1. The edge is hidden if it is not connected to the selected or hovered node.
        renderer.setSetting("edgeReducer", (edge, data) => {
            const res = { ...data };

            if (state.selectedNode) {
                if (
                    !graph.extremities(edge).every((n) => n === state.selectedNode || graph.areNeighbors(n, state.selectedNode))
                ) {
                    res.hidden = true;
                }
            } else {
                if (
                    !graph.extremities(edge).every((n) => n === state.hoveredNode || graph.areNeighbors(n, state.hoveredNode))
                ) {
                    res.hidden = true;
                }
            }

            return res;
        });

        // Cluster label positions need to be updated on each render
        renderer.on("afterRender", () => {
            for (const group in groupClusters) {
                const cluster = groupClusters[group];
                const clusterLabel = document.getElementById(cluster.label);
                if (clusterLabel) {
                    // Update position from the viewport
                    const viewportPos = renderer.graphToViewport(cluster);
                    clusterLabel.style.top = `${viewportPos.y}px`;
                    clusterLabel.style.left = `${viewportPos.x}px`;
                }
            }
        });
    }

    const statusText = document.getElementById('status-text');

    statusText.textContent = "Building network map...";

    fetch("/api/network-map")
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error: ${response.status}`);
            }

            return response.json();
        })
        .then((map) => {
            statusText.textContent = "";
            graphMap(map);
        })
        .catch((error) => {
            console.error(error);
            statusText.textContent = `Failed to load data: ${error}`;
        });
</script>

{% endblock %}