<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rust RFC Observer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: #2b2a33;
            color: white;
            font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            margin: 10px;
        }

        a {
            color: rgb(16, 131, 254);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #iconheader {
            text-align: center;
            font-size: 128pt;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@^4"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
</head>

<body>
    <div id="iconheader">🦀🔍</div>

    <div id="status-box">
        <h2 id="status">Fetching RFCs...</h2>
        <p id="status-text"></p>
    </div>

    <div>
        <canvas id="aggregate"></canvas>
    </div>

    <h2>Open issues</h2>
    <ul id="open-issues"></ul>

    <h2>Closed issues</h2>
    <ul id="closed-issues"></ul>

    <script>
        const graphAgg = (aggregate) => new Chart(document.getElementById('aggregate'), {
            type: 'line',
            data: {
                labels: aggregate.map(row => row.date),
                datasets: [
                    {
                        label: 'Created',
                        data: aggregate.map(row => row.created),
                        fill: true,
                        pointStyle: false
                    },
                    {
                        label: 'Approved',
                        data: aggregate.map(row => row.approved),
                        fill: true,
                        pointStyle: false
                    },
                    {
                        label: 'Implemented',
                        data: aggregate.map(row => row.implemented),
                        fill: true,
                        pointStyle: false
                    },
                    {
                        label: 'Closed',
                        data: aggregate.map(row => row.closed),
                        fill: true,
                        pointStyle: false
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'time'
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

        function buildList(list, issues) {
            list.replaceChildren();
            issues.forEach(issue => {
                let li = document.createElement('li');
                list.appendChild(li);
                let a = document.createElement('a');
                li.appendChild(a);
                a.href = `https://github.com/rust-lang/rust/issues/${issue.number}`;
                a.target = "_blank";
                if (!issue.closed_at) {
                    let created = Date.parse(issue.created_at);
                    let age = Date.now() - created;
                    let age_in_days = Math.round(age / (1000 * 3600 * 24));
                    a.innerHTML += `${age_in_days} days old: `;
                }
                a.innerHTML += `(RFC ${issue.rfc}) ${issue.title}`;
            });
        }

        fetch("/api/data")
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                return response.json();
            })
            .then((data) => {
                document.getElementById('status').textContent = "Rust RFCs";
                document.getElementById('status-text').textContent = `There are ${data.open.length + data.closed.length} RFC tracking issues, of which ${data.open.length} are still open.`;
                graphAgg(data.agg);
                buildList(document.getElementById('open-issues'), data.open);
                buildList(document.getElementById('closed-issues'), data.closed);
            })
            .catch((error) => {
                console.error(error);
                document.getElementById('status').textContent = "Error";
                document.getElementById('status-text').textContent = `Failed to load RFC tracking issues: ${error}`;
            });
    </script>
</body>

</html>